@import 'reset';
#slider {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;

	.panel {
		width: 300%;
		height: 100%;
		margin-left: -100%;

		li {
			width: calc(100% / 3);
			height: 100%;
			font-size: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			float: left;

			&.p1 {
				background: pink;
			}
			&.p2 {
				background: lightgreen;
			}
			&.p3 {
				background: orange;
			}
			&.p4 {
				background: lightblue;
			}
			&.p5 {
				background: lightcoral;
			}
		}
	}

	.prev {
		position: absolute;
		top: 50%;
		left: 50px;
	}
	.next {
		position: absolute;
		top: 50%;
		right: 50px;
	}
}
